DOCTYPEhtml
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet")
    link(type="text/css" rel="stylesheet" href="/csserror/style.css")
    script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
    script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
    title Document
  body
    div#notfound
      div.notfound
        div.notfound-404
          h1 Oops!
        
        h2 404 - Page not found
        h2=msg
        p The page you are looking for might have been removed had its name changed or is temporarily unavailable.
        a(href="/") Go To Homepage

