html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap')
    link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Pacifico&display=swap')
    link(rel="stylesheet", href='/css4/style.css')
    script(type="text/javascript" src="//js.stripe.com/v3/")
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet')
    title Document
  body
    block content

  script(type='text/javascript' src='/javaScript/mapbox.js')
  script(type='text/javascript' src='/javaScript/bundle.js')