* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", "Atlas Grotesk Web", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: white;
  padding: 0.2rem;
  color: #777;
  display: flex;
  flex-direction: column; }

.contaniner {
  display: grid;
  grid-gap: 7rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem 2rem; }

.card {
  border-color: #777;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .card__footer {
    margin-top: 0.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.75rem;
    grid-column-gap: 2rem;
    padding: 2rem; }
  .card--rating-text {
    letter-spacing: 0.2rem; }
  .card__header {
    height: 23rem;
    width: 35rem;
    clip-path: ellipse(229px 143px at 50% 28%);
    -webkit-clip-path: ellipse(229px 143px at 50% 28%);
    object-fit: cover;
    margin-bottom: 1rem;
    margin-top: 1rem;     
    opacity: 0.7;
  }
  .card__details {
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.75rem;
    grid-column-gap: 2rem;
    margin-bottom: 1rem; }
  .card--value {
    letter-spacing: 0.1rem; }
  .card--title {
    letter-spacing: 0.9rem;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom: 1rem;
    color: #777;
    font-weight: 100;
    text-align: center; }
  .card--sub-heading {
    height: 2rem;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    color: #777;
    grid-column-start: 1; }
  .card--ratings {
    grid-column-start: 2;
    font-size: 1.5rem;
    color: #777; }
  .card--sub-text {
    font-size: 1.5rem;
    color: #777;
    margin-bottom: 1rem;
    grid-column-start: 1;
    grid-column-end: -1;
    letter-spacing: 0.1rem;
    font-weight: 100;
    font-family: cursive; }
  .card--data {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    font-size: 1.3rem; }
    .card--data span {
      letter-spacing: 0.1rem; }
    .card--data svg {
      margin-right: 0.8rem; }
  .card--icon {
    height: 2rem;
    width: 2rem;
    fill: #F48982; }
  .card--price {
    font-size: 1.5rem;
    color: #777; }

.main {
  flex: 1;
  padding: 2rem 2rem; }
