* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", "Atlas Grotesk Web", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: white;
  padding: 0.5rem;
  color: #777;
  opacity: 0.8; }

.summary {
  margin-top: 1rem;
  color: #777; }
  .summary__tour {
    text-align: center;
    text-transform: uppercase;
    font-size: 4.75rem;
    font-weight: 300;
    letter-spacing: 1rem;
    color: #616161;
    margin-top: .9rem;
    margin-bottom: 6rem; }
  .summary__decription {
    padding: 1.5rem;
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    line-height: 3rem; }

.quickFact {
  text-align: center;
  letter-spacing: .2rem;
  font-size: 2.5rem;
  font-weight: 800;
  color: transparent;
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  -webkit-background-clip: text;
  margin-bottom: 1rem;
  text-transform: uppercase; }

.guidesInfo {
  text-align: center;
  letter-spacing: .2rem;
  font-size: 2.5rem;
  font-weight: 800;
  color: transparent;
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  -webkit-background-clip: text;
  margin-bottom: 1rem;
  text-transform: uppercase; }

.buy {
  padding: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.sb {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 3rem; }
  .sb-l {
    margin-right: 1rem;
    font-weight: 800; }
  .sb-r {
    font-weight: 100; }

.summary {
  padding-top: 8rem;
  padding-right: 8rem;
  padding-left: 8rem;
  padding-bottom: 3rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 40%; }

.tourinfo {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 13rem;
  padding-top: 3rem; }

.rig {
  flex: 0 0 50%; }

.lef {
  flex: 0 0 50%; }

.container {
  display: flex;
  flex-direction: row; }
  .container__right--detail {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .container__left--detail {
    display: flex;
    flex-direction: column;
    align-items: center; }

.overviewbox {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .overviewbox__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #55c57a; }
  .overviewbox__label {
    font-weight: 400;
    letter-spacing: 1px;
    color: #777; }
  .overviewbox__text {
    color: #777;
    margin-right: 13rem; }

.tourImages {
  height: 30rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .tourImages__img {
    height: 27rem;
    display: block; }

.section-reviews {
  margin-top: 2rem;
  padding: calc(5rem + 9vw) 0;
  position: relative;
  z-index: 1000; }

.section-reviews {
  position: relative;
  z-index: 1000; }

.reviews {
  padding: 5rem 0;
  display: grid;
  grid-column-gap: 6rem;
  grid-auto-flow: column;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory; }
  .reviews__card {
    width: 30rem;
    padding: 4rem;
    background-color: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    scroll-snap-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .reviews__avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem; }
    .reviews__avatar-img {
      height: 4.5rem;
      border-radius: 50%;
      margin-right: 1.5rem; }
  .reviews__user {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase; }
  .reviews__text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-style: italic;
    font-weight: 400; }
  .reviews__rating {
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .reviews__star {
    height: 2rem;
    width: 2rem;
    margin-right: 1px; }
  .reviews__star--active {
    fill: #F48982; }
  .reviews__star--inactive {
    fill: #bbb; }

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }

.btn--green::after {
  background-color: #55c57a; }

.section-map {
  position: relative;
  height: 65rem;
  margin-top: calc(0px - var(--section-rotate)); }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

.marker {
  background-image: url("../images/pin.png");
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer; }

.mapboxgl-popup {
  max-width: 25rem; }

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 1.5rem !important;
  font-size: 1.4rem;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important; }

.header {
  height: 90vh;
  overflow: hidden;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  margin-bottom: 0.3rem; }
  .header__section-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
    z-index: 1;
    opacity: 0.4; }
  .header__section-img {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%; }
  .header__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
    margin-bottom: 5px;
    z-index: 1; }
  .header__days {
    top: 65%;
    left: 32%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    z-index: 1;
    line-height: 2rem;
    letter-spacing: 1rem; }
  .header__location {
    top: 65%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    z-index: 1;
    line-height: 2rem;
    letter-spacing: 1rem; }

.footer {
  background-color: white;
  padding: 6rem 4rem 1rem 4rem;
  font-size: 1.4rem; }

.footer__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end; }

.footer__nav li {
  margin-left: 1.5rem; }

.footer__nav a {
  color: #777;
  text-decoration: none !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.footer__nav a:hover,
.footer__nav a:active {
  color: #F48982; }

.footer__copyright {
  justify-self: end;
  color: #999; }
